.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensures the container spans the full viewport height */
  text-align: center;
}

.main-content {
  flex: 1; /* Allows .main-content to take up available space */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centers content vertically */
}

.status-text {
  font-size: 10em;
  margin: 0;
}

.percentage-text {
  font-size: 3em;
  margin: 0;
}

.index-name {
  font-size: 1.5em;
  margin: 10px 0;
}

.other-indexes {
  display: flex;
  justify-content: center;
  margin-top: auto;
  margin-bottom: 150px;
}

.index-card {
  flex: 1;
  margin: 0 20px;
}

.index-card .status-text {
  font-size: 3em;
}

.index-card .percentage-text {
  font-size: 1.5em;
}

.index-card .index-name {
  font-size: 1.2em;
}

@media (max-width: 768px) {
  .other-indexes {
    flex-direction: column;
    align-items: center;
  }

  .index-card {
    margin: 20px 0;
  }
}
